<div class="navbar navbar-expand-sm navbar-light navbar-reg">
  <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dzxrdf9za/image/upload/v1591020691/ca-indo_logo.png" %>
  <% end %>

   <!-- Dropdown appearing on mobile only -->
  <button id="burger-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <% @areas = Area.all %>
          <li class="nav-item">
                <%= link_to "Dados do dia", daily_data_path, class: "font-white" %>
            </li> -
          <li class="nav-item">
                <%= link_to "Todos fundos", funds_path, class: "font-white" %>
            </li> -
          <% @areas.each do |area|  %>
            <li class="nav-item">
                <%= link_to area.name, funds_path(:area_name => area.name), class: "font-white" %>
            </li> -
          <%end %>
          <li class="nav-item">
             <%= link_to raw('<i class="fas fa-sign-out-alt"></i>Log out'),   destroy_user_session_path, :method => :delete, class: "font-white" %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to("Log in", new_user_session_path, class:"font-white")  %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign up", new_user_registration_path, class:"font-white")  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
