<br>
<br>
<div class="container grey">
  <div class="padding1 border-radius05 shadow-boxing marginb">
    <h3 class="text-center"><%=@fund.best_name%></h3>
    <p class="text-center" ><%= @date.day.to_formatted_s(:long_ordinal)%> </p>
    <p><b>Gestor:</b> <%= @fund.gestor.name %> </p>
    <p><b>Classe Anbima:</b> <%= @fund.anbima_class.name %> </p>
    <p><b>PL:</b> <%= number_with_delimiter(@this_fund_data.aum.round(0), :delimiter => ',') %> </p>
    <p><b>Cota:</b> <%= @this_fund_data.share_price.round(4) %> </p>
    <p><b>Volatilidade:</b> <%= sprintf("%+.2f", @this_fund_data.volatility.round(2))%>%</p>
    <p><b>Sharpe ratio:</b> <%= @this_fund_data.sharpe_ratio.round(2)%></p>
    <p><b>Tracking error:</b><%= sprintf("%+.2f", @this_fund_data.tracking_error.round(2))%>%</p>
  </div>

  <div >
    <% @this_fund_data_hash.each do |data| %>
      <%= render 'shared/table_fund', data: data %>
    <% end %>
    <div class= "hidden competitor-data">
      <% @competitors_datas_hash.each do |data| %>
        <%= render 'shared/table_fund', data: data %>
      <% end %>
    </div>

     <p class="text-center"><i class="fas fa-arrow-circle-left"></i><i class="fas fa-arrow-circle-right"></i></p>
      <% if @competitors.size ==1 %>
        <div class="my-row space_around">
          <a id="show-competitors" class="btn-outline col-xs-12 col-md-4"><%= @competitors[0].short_name %></a>
        </div>

      <% else %>
        <div class="my-row space_around">
          <a id="show-competitors" class="btn-outline col-xs-12 col-md-4">Concorrentes</a>
        </div>
      <% end %>
    </div>

    <div class="padding1 my-row border-radius05 shadow-boxing marginb">
      <% if !@history_aum.nil? %>
        <div class="chart-container">
        <%= line_chart @history_aum, colors: ["#CFB07B"], thousands: ",", title: "PL", ytitle: "$R Bi"%>
        </div>
        <br>
      <% end %>
      <% if !@history_share.nil? %>
        <div class="chart-container">
         <%= line_chart @history_share, colors: ["#CFB07B"], backgroundColor: "#eee",thousands: ",", title: "Cota", ytitle: "$R"%>
        </div>
        <br>
      <% end %>

      <% if !@chart_monthly_captation.nil? %>
        <div class="chart-container">
         <%= column_chart @chart_monthly_captation, colors: ["#CFB07B"], title: "Captação mensal", ytitle: "$R Mi"%>
        </div>
        <br>
      <% end %>

        <% if !@chart_returns.nil? %>
        <div class="chart-container">
         <%= column_chart @chart_returns, colors: ["#CFB07B"], thousands: ",", title: "Retorno mensal", ytitle: "%"%>
        </div>
        <br>
      <% end %>
      <% if !@chart_risk_returns.nil? %>
        <div class="chart-container">
         <%= scatter_chart @chart_risk_returns, colors: ["#CFB07B"], title: "Risco Retorno", ytitle: "Retorno anual (%)", xtitle: "Vol anual (%)"%>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>


