<br>
<br>
<div class="container grey">
  <div class="padding1 border-radius05 shadow-boxing marginb">
    <h3 class="text-center"><%=@name%></h3>
    <p class="text-center" ><%= @date.to_formatted_s(:long_ordinal)%> </p>

    <p><i class="fas fa-dollar-sign"></i> PL: <%= number_with_delimiter(@aum.value.round(0), :delimiter => ',') %> </p>
    <p>Cota: <%= @share.value.round(4) %> </p>
    <p>Volatilidade: <%= sprintf("%+.2f", @indicators.volatility.round(2))%>%</p>
    <p>Sharpe ratio: <%= @indicators.sharpe_ratio.round(2)%></p>
    <p>Tracking error:<%= sprintf("%+.2f", @indicators.tracking_error.round(2))%>%</p>
  </div>
  <div class="padding1 border-radius05 shadow-boxing marginb">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
            <tr class="text-center black font-white">
                <th colspan="1">Dado</th>
                <th colspan="1">Diario</th>
                <th colspan="1">Semanal</th>
                <th colspan="1">Mensal</th>
                <th colspan="1">Trimestral</th>
                <th colspan="1">Annual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Retorno</td>
                <td><%= sprintf("%+.2f", @returns.daily_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", @returns.weekly_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", @returns.monthly_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", @returns.quarterly_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", @returns.yearly_value.round(2))%>%</td>
            </tr>
             <tr>
                <td>Capt Liq</td>
                <td> - </td>
                <td><%= number_with_delimiter(@applications.weekly_net_value.round(0), :delimiter => ',') %></td>
                <td><%= number_with_delimiter(@applications.monthly_net_value.round(0), :delimiter => ',') %></td>
                <td><%= number_with_delimiter(@applications.quarterly_net_value.round(0), :delimiter => ',') %></td>
                <td><%= number_with_delimiter(@applications.yearly_net_value.round(0), :delimiter => ',') %></td>
            </tr>
            <%@competitors.each do |competitor| %>

             <tr class="hidden competitor-row">
                <td colspan="6" class="text-center black font-white"> <%= link_to(competitor.name, fund_path(competitor.id))  %></td>
            </tr>
              <tr class="hidden competitor-row">
                <td>Retorno</td>
                <td><%= sprintf("%+.2f", competitor.returns.last.daily_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", competitor.returns.last.weekly_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", competitor.returns.last.monthly_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", competitor.returns.last.quarterly_value.round(2))%>%</td>
                <td><%= sprintf("%+.2f", competitor.returns.last.yearly_value.round(2))%>%</td>
            </tr>
             <tr class="hidden competitor-row">
                <td>Capt Liq</td>
                <td> - </td>
                <td><%= number_with_delimiter(competitor.applications.last.weekly_net_value.round(0), :delimiter => ',') %></td>
                <td><%= number_with_delimiter(competitor.applications.last.monthly_net_value.round(0), :delimiter => ',') %></td>
                <td><%= number_with_delimiter(competitor.applications.last.quarterly_net_value.round(0), :delimiter => ',') %></td>
                <td><%= number_with_delimiter(competitor.applications.last.yearly_net_value.round(0), :delimiter => ',') %></td>
            </tr>

            <% end %>
        </tbody>
      </table>
     </div>
     <p class="text-center"><i class="fas fa-arrow-circle-left"></i><i class="fas fa-arrow-circle-right"></i></p>

      <% if @competitors.size ==1 %>
        <div class="my-row space_around">
          <a href="#" id="show-competitors" class="btn-outline col-xs-12 col-md-4"><%= @competitors[0].short_name %></a>
        </div>
        br
      <% else %>
        <div class="my-row space_around">
          <a href="#" id="show-competitors" class="btn-outline col-xs-12 col-md-4">Concorrentes</a>
        </div>
      <% end %>
    </div>
    <div class="padding1 my-row border-radius05 shadow-boxing marginb">
      <% if !@history_aum.nil? %>
        <div class="chart-container">
        <%= line_chart @history_aum, colors: ["#CFB07B"], thousands: ",", title: "PL", ytitle: "$R Bi"%>
        </div>
        <br>
      <% end %>
      <% if !@history_share.nil? %>
        <div class="chart-container">
         <%= line_chart @history_share, colors: ["#CFB07B"], backgroundColor: "#eee",thousands: ",", title: "Cota", ytitle: "$R"%>
        </div>
      <% end %>
        <% if !@chart_returns.nil? %>
        <div class="chart-container">
         <%= column_chart @chart_returns, colors: ["#CFB07B"], thousands: ",", title: "Retorno mensal", ytitle: "%"%>
        </div>
      <% end %>
    </div>
  </div>
</div>


