<div class="container grey">
  <h3 class="text-center"><%=@fund.short_name%></h3>
  <p class="text-center" ><%= @date.to_formatted_s(:long_ordinal)%> </p>
  <p>PL: <%= number_with_delimiter(@aum.value.round(0), :delimiter => ',') %> </p>
  <p>Cota: <%= @share.value.round(4) %> </p>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
          <tr class="text-center black font-white">
              <th colspan="1">Dado</th>
              <th colspan="1">Diario</th>
              <th colspan="1">Semanal</th>
              <th colspan="1">Mensal</th>
              <th colspan="1">Trimestral</th>
              <th colspan="1">Annual</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Retorno</td>
              <td><%= sprintf("%+.2f", @returns.daily_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", @returns.weekly_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", @returns.monthly_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", @returns.quarterly_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", @returns.yearly_value.round(2))%>%</td>
          </tr>
           <tr>
              <td>Capt Liq</td>
              <td> - </td>
              <td><%= number_with_delimiter(@applications.weekly_net_value.round(0), :delimiter => ',') %></td>
              <td><%= number_with_delimiter(@applications.monthly_net_value.round(0), :delimiter => ',') %></td>
              <td><%= number_with_delimiter(@applications.quarterly_net_value.round(0), :delimiter => ',') %></td>
              <td><%= number_with_delimiter(@applications.yearly_net_value.round(0), :delimiter => ',') %></td>
          </tr>
          <%@competitors.each do |competitor| %>

           <tr class="hidden competitor-row">
              <td colspan="6" class="text-center black font-white"><%= competitor.name %></td>
          </tr>
            <tr class="hidden competitor-row">
              <td>Retorno</td>
              <td><%= sprintf("%+.2f", competitor.returns.last.daily_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", competitor.returns.last.weekly_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", competitor.returns.last.monthly_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", competitor.returns.last.quarterly_value.round(2))%>%</td>
              <td><%= sprintf("%+.2f", competitor.returns.last.yearly_value.round(2))%>%</td>
          </tr>
           <tr class="hidden competitor-row">
              <td>Capt Liq</td>
              <td> - </td>
              <td><%= number_with_delimiter(competitor.applications.last.weekly_net_value.round(0), :delimiter => ',') %></td>
              <td><%= number_with_delimiter(competitor.applications.last.monthly_net_value.round(0), :delimiter => ',') %></td>
              <td><%= number_with_delimiter(competitor.applications.last.quarterly_net_value.round(0), :delimiter => ',') %></td>
              <td><%= number_with_delimiter(competitor.applications.last.yearly_net_value.round(0), :delimiter => ',') %></td>
          </tr>

          <% end %>
      </tbody>
    </table>
   </div>

    <div class="my-row space_around">
      <a href="#" id="show-competitors" class="btn-outline col-xs-12 col-md-4">Concorentes</a>
    </div>

    <div class="padding1 my-row">
      <div class="chart-container">
      <%= line_chart @history_aum, colors: ["#CFB07B"], thousands: ",", title: "PL", ytitle: "$R Bi", width: "100%", height: "500px"%>
      </div>

      <div class="chart-container">
       <%= line_chart @history_share, colors: ["#CFB07B"], thousands: ",", title: "Cota", ytitle: "$R", width: "100%", height: "500px" %>
      </div>

    </div>
  </div>
</div>


